@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Montserrat&display=swap');

body {
  font-family: 'Montserrat';
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.demo-card-wide.mdl-card {
  float: left;
  margin: auto;
  text-align: center;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  /* height: 100px; */
  background-color: green;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card-small {
  /* height: 50px; */
  width: 100px;
  border-radius: 15px 50px;
  background-color: green;
  color: #fff;
  margin: 5px;
}

h1 {
  font-family: 'Hammersmith One';
}

.mdl-grid {
  padding: 20px;
}